body {
  background: url(images/background.jpg), lightgray 50% / cover no-repeat;
  width: 100%;
  height: 100%;
}

@keyframes slide {
    0% {
        right: 25%;
    }
    50% {
        left: 25%;
    }
    100% {
        right: 25%;
    }
}

.animate-slide {
    animation: slide 5s infinite alternate;
}
